
#container {
    display: flex;
    flex-direction: column;
}

#container select,h1,input,button {
    margin-bottom: 1rem;
    padding-bottom: .5em;
    padding-top: .5em;
    font-family: 'Open Sans', sans-serif;
}

